.vs/
BeetleX.Ligth.gpRPC.TestConsole/bin/
BeetleX.Ligth.gpRPC.TestConsole/obj/
BeetleX.Ligth.gpRPC/bin/
BeetleX.Ligth.gpRPC/obj/
gpRPC.ClientApp/bin/
gpRPC.ClientApp/obj/
gpRPC.Messages/bin/
gpRPC.Messages/obj/
gpRPC.ServerApp/bin/
gpRPC.ServerApp/obj/
gpRPC.ClientApp/Properties/
gpRPC.ServerApp/Properties/
*.user
BeetleX.Light.gpRPC.TestConsole/bin/
BeetleX.Light.gpRPC.TestConsole/obj/
BeetleX.Light.gpRPC/bin/
BeetleX.Light.gpRPC/obj/
Getaway/gpRPC.Gateway.Messages/obj/
Getaway/gpRPC.Gateway.Publish/obj/gpRPC.Gateway.Publish.csproj.nuget.dgspec.json
Getaway/gpRPC.Gateway.Publish/obj/
Getaway/gpRPC.Gateway.Subscriber/obj/
gpRPC.Gateway.Server/obj/
Getaway/gpRPC.Gateway.Messages/bin/
Getaway/gpRPC.Gateway.Publish/bin/
Getaway/gpRPC.Gateway.Subscriber/bin/
gpRPC.Gateway.Server/bin/
